@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif !important;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 0.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}


.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    /*margin-bottom: 40px;*/
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    color:white !important;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR ESTILO
----------------------------------------------------- */

.wrapper {
    /*display: flex;*/
    width: 100%;
    /*align-items: stretch;*/
    /*perspective: 1500px;*/
}


#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #222B45;
    color: white;
    /*transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);*/
    /*transform-origin: bottom left;*/
}


#sidebar a{
    color:white;
    text-decoration: none;
}
/*#sidebar.active {*/
/*    margin-left: -250px;*/
/*    transform: rotateY(100deg);*/
/*}*/

/* logo */
#sidebar .sidebar-header {
    padding: 20px;
    background: #16699c;
    color: white !important;
    font-size: 31px !important;
}

#sidebar ul.components {
    padding: 20px 0;
    /*border-bottom: 1px solid #47748b;*/
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: white !important;
    text-decoration: none;
}
#sidebar ul li a:hover {
    color: rgb(255, 255, 255);
    background: rgb(120, 186, 248);
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #16699c;
}


a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#homeSubmenu{
    padding-left: 5px;
    font-size: 13px;
}

.notifi{
    margin-top: 8px ;
}

/* ---------------------------------------------------
    ESTILO DE CONTENIDO
----------------------------------------------------- */

.txt-color{
    color: white !important;
    text-decoration: none !important;
}

#content {
    width: 100%;
    /*padding: 20px;*/
    min-height: 100vh;
    transition: all 0.3s;
    background-color: #ffffff;
}
#content > nav.navbar ul > li a{
    color: white;
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: rgb(22, 105, 156);
    cursor: pointer;
    border-radius: 5px;
    color: white !important;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

/*#sidebarCollapse span:first-of-type {*/
/*    transform: rotate(45deg) translate(2px, 2px);*/
/*}*/
/*#sidebarCollapse span:nth-of-type(2) {*/
/*    opacity: 0;*/
/*}*/
/*#sidebarCollapse span:last-of-type {*/
/*    transform: rotate(-45deg) translate(1px, -1px);*/
/*}*/


#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}


/* ---------------------------------------------------
    MEDIA QUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    /*#sidebar {*/
    /*    margin-left: -250px;*/
    /*    transform: rotateY(90deg);*/
    /*}*/
    /*#sidebar.active {*/
    /*    margin-left: 0;*/
    /*    transform: none;*/
    /*}*/
    
    /*#sidebarCollapse span:first-of-type,*/
    /*#sidebarCollapse span:nth-of-type(2),*/
    /*#sidebarCollapse span:last-of-type {*/
    /*    transform: none;*/
    /*    opacity: 1;*/
    /*    margin: 5px auto;*/
    /*}*/
    /*#sidebarCollapse.active span {*/
    /*    margin: 0 auto;*/
    /*}*/
    /*#sidebarCollapse.active span:first-of-type {*/
    /*    transform: rotate(45deg) translate(2px, 2px);*/
    /*}*/
    /*#sidebarCollapse.active span:nth-of-type(2) {*/
    /*    opacity: 0;*/
    /*}*/
    /*#sidebarCollapse.active span:last-of-type {*/
    /*    transform: rotate(-45deg) translate(1px, -1px);*/
    /*}*/

}


/*=================CONTENIDO===================*/
thead input {
    width: 100%;
}

.nv-bg{
    background-color: #222B45;
    -webkit-box-shadow: 0px 0px 11px -1px rgba(78,177,230,0.57);
    -moz-box-shadow: 0px 0px 11px -1px rgba(78,177,230,0.57);
    box-shadow: 0px 0px 11px -1px rgba(78,177,230,0.57);
}

.eye{
    color: #039aff;
}

/*============Detalles=========================*/

.tab-pane{
    margin-top: 18px;
}

.head{
    font-weight: bold;
}


.icon{
    width: 30px;
    color: #039aff;
}

.text-de{
    color: #039aff;
}

.material-icons{
    vertical-align: top;
}



/*otros*/

#sidebar{
    position: fixed;
    /*transform: translateX(-250px);*/
    min-height: 100vh;
    overflow-y: auto;
    
    /*transition: all 0.6s;*/
}

#sidebar.active {
    margin-left: unset;
    transform: translateX(0);
}
.wrapper #content{
    transform: translateX(0);
    width: 100%;
}
.wrapper.active #content{
    transform: translateX(250px);
    width: calc(100% - 250px);;
}

@media (max-width: 768px) {
    html{
        overflow-x: hidden;
    }
    body{
        overflow-x: hidden;
    }
    .wrapper.active #content{
        width: 100%;
    }
    
    #sidebar {;
        /*margin-left: -250px;*/
        /*transform: rotateY(90deg);*/
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }
}